* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  text-align: center;
  color: #3494db;
  margin: 3rem;
}

@media screen and (max-width: 480px) {
  form .rs-row > * {
    margin-top: 1rem
  }
}
